.App {
  text-align: center;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: black;
  text-decoration: none;
}

.bg-dark{
  background-color: #181B57 !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13);
}

.list-group, .list-group-item{
  border-radius: 0px !important;
}

.active .list-group-item{
  background-color: #1e7e34;
  color: #ffffff;
}

.logo{
  width: 5em;
}

.font-12{
  font-size: 12px;
}

.h-4{
  height: 4em;
}

.bordered-container{
  border: 1px solid rgba(0,0,0,.125);
}
