.App {
  text-align: center;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: black;
  text-decoration: none;
}

.sub-header{
  border-bottom: 1px solid;
  border-width: thin;
  padding: 5.2px;
}