
/* left-menu */
.left-menu-container{
    width: 13em;
    height: 90vh;
    position: fixed;
    top: 56px;
    background-color: #ffffff;
    box-shadow: 0.5px 0 4px 0 rgba(0, 0, 0, 0.1);
}

/*Main container */
#page-content-wrapper{
    margin-top: 56px;
    margin-left: 13em;
}

.sub-header{
    padding: 5.2px;
}

/** page-wise css **/
.task-card{
    border: 1px solid;
    border-radius: 4px;
    height: 4em;
    font-size: 12px;
    padding: 8px 4px;
    background: #ffffff;
}
  
.job-type-color:after{
    content:"\A";
    width:10px;
    height:10px;
    border-radius:50%;
    background: #b83b3b;
    display:inline-block;
    margin:0 10px;
}
.job-type-color[color="yellow"]:after {
    background: yellow;
}
.job-type-color[color="grey"]:after {
    background: grey;
}
.job-type-color[color="purple"]:after {
    background: plum;
}
.job-type-color[color="orange"]:after {
    background: orange;
}
.job-type-color[color="blue"]:after {
    background: skyblue;
}
  
.job-color-container{
    width: 70%;
}

.fullscreen-btn{
    padding: 2px 4px;
    font-size: 12px;
}
.fullscreen-btn:fullscreen{
    display: none;
}

.chart-container:fullscreen{
    background-color: #ffffff;
}

  
