
/* left-menu */
.left-menu-container{
    width: 13em;
    height: 90vh;
    position: fixed;
    top: 56px;
    background-color: #ffffff;
    box-shadow: 0.5px 0 4px 0 rgba(0, 0, 0, 0.1);
}

/*Main container */
#page-content-wrapper{
    margin-top: 56px;
    margin-left: 13em;
}

.sub-header{
    padding: 5.2px;
    margin-top: 4em;
}

/** page-wise css **/
.task-card{
    border: 1px solid;
    border-radius: 4px;
    height: 4em;
    font-size: 12px;
    padding: 8px 4px;
    background: #ffffff;
}
  
.job-type-color:before{
    content:"\A";
    width:10px;
    height:10px;
    border-radius:50%;
    background: #b83b3b;
    display:inline-block;
    margin:0 10px;
}
.job-type-color[color="yellow"]:before {
    background: yellow;
}
.job-type-color[color="grey"]:before {
    background: grey;
}
.job-type-color[color="purple"]:before {
    background: plum;
}
.job-type-color[color="orange"]:before {
    background: orange;
}
.job-type-color[color="blue"]:before {
    background: skyblue;
}

.progress{
    height: 2em;
    border-radius: 0;
    background-color: darkgrey;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
    font-size: 13px;
    white-space: pre !important;
    line-height: 30px !important;
}
#start-production-button{
    float: none;
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
}
  
.job-color-container{
    width: 70%;
}

.fullscreen-btn{
    padding: 2px 4px;
    font-size: 12px;
}
.fullscreen-btn:fullscreen{
    display: none;
}

.chart-container:fullscreen{
    background-color: #ffffff;
}

.react-calendar-timeline{
    background: white;
}

  
