
/* left-menu */
.left-menu-container{
    width: 13em;
    height: 90vh;
    border-right: 1px solid;
    border-right-width: thin;
    position: fixed;
    top: 56px;
}

.list-group{
    border-radius: 0px;
}

.list-group-item{
    border-bottom: 1px solid;
    border-width: thin;
    border-right: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

/*Main container */
#page-content-wrapper{
    margin-top: 56px;
    margin-left: 13em;
}
